<!--
  Copyright (c) 2020-2022 Spring City Solutions LLC and other contributors
  Licensed under the Apache License, Version 2.0
  WAVESHARE (tm) is a trademark of Shenzhen Weixue Electronic Co., Ltd.
-->
<script type="text/html" data-help-name="analoginput">
    <p>Report the voltage after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers the start of an analog to digital conversion</dd>
      </dl>

    <h3>Outputs</h3>
      <dl class="message-properties">
        <dt>payload <span class="property-type">number</span></dt>
          <dd>The measured voltage using the specified scale.</dd>
      </dl>

    <h3>Details</h3>
      <p>The Port property selects the input port as labeled on the circuit board.</p>
      <p>Ports OFC and FSC report the automatic self calibration values as decimal integers instead of reporting an input voltage.</p>
      <p>The Scale property selects the output format.</p>
      <p>The default voltage scale outputs from 0.0 to 5.0 volts corrected for gain setting.</p>
      <p>The millivolt scale outputs from 0.0 to 5000.0 millivolts corrected for gain setting.</p>
      <p>The fraction scale outputs a number from 0 to 1 where 0 represents zero volts and 1 represents five volts.</p>
      <p>The percentage scale outputs a percentage from 0 to 100 where 0 represents zero volts and 1 represents five volts.</p>
      <p>The raw counts scale outputs a 24 bit signed integer in decimal format such that 0 represents zero volts and 2 ** 23 represents five volts.</p>
      <p>The gain property sets the input voltage gain, which varies from default 1 (no amplification) to 64 times amplification.</p>
      <p>Note that both voltage scale outputs correct for gain setting but the count based outputs do not correct for gain.</p>
      <p>The data rate property allows the user to trade off slow 23 bit accuracy vs fast 14 bit accuracy.</p>
      <p>Conversion takes a variable amount of time based on samples per second setting, the slowest will take over one second.</p>
      <p>The buffer property enables or disables the analog input buffer, default off.</p>
      <p>Generally, leave the analog input buffer off.</p>
      <p>The ADS1256 datasheet, around page 12, explains the situations where the analog input buffer should be enabled.</p>
      <p>Generally, leave the SDCS Sensor Detect Current Source off.</p>
      <p>The ADS1256 datasheet, page 15, explains the situations where the SDCS should be enabled.</p>
      <p>The SDCS detects open and short circuits of simple resistive divider type sensors, at a cost.</p>
      <p>Enabling the SDCS force enables the Analog Input Buffer regardless of buffer property setting.</p>
      <p>The provided VRef chip is only rated to 1% precision, about 3 decimal digits of accuracy.</p>

    <h3>References</h3>
      <h4>Hardware Links</h4>
        <ul>
          <li><a href="https://www.waveshare.com/High-Precision-AD-DA-Board.htm">
            Board Manufacturer Store
          </a></li>
          <li><a href="https://www.waveshare.com/wiki/High-Precision_AD/DA_Board">
            Board Manufacturer Wiki
          </a></li>
          <li><a href="https://www.ti.com/product/ADS1256">
            ADS1256 ADC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/ads1256">
            ADS1256 Datasheet
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyy192">
            Free Ebook "Fundamentals of Precision ADC Noise Analysis"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt423">
            Journal Series "How Delta Sigma ADCs Work Pt 1"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt438">
            Journal Series "How Delta Sigma ADCs Work Pt 2"
          </a></li>       
          <li><a href="https://www.ti.com/lit/pdf/sbaa230">
            App Note "Digital Filter Types in Delta Sigma ADCs"
          </a></li>
          <li><a href="https://www.ti.com/product/LM285-2.5-N">
            LM285 Voltage Reference Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/lm285-2.5-n">
            LM285 Voltage Reference Datasheet
          </a></li>
          <li><a href="https://www.ti.com/product/DAC8532">
            DAC8532 DAC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/dac8532">
            DAC8532 DAC Datasheet
          </a></li>
        </ul>

      <h4>Spring City Solutions Links</h4>
        <ul>    
          <li><a href="https://www.springcitysolutions.com/nodered">
            Spring City Solutions Node-RED project page
          </a></li>
          <li><a href="https://www.springcitysolutions.com/nodered-waveshare-adda-shield">
            Spring City Solutions page for this node
          </a></li>
          <li><a href="mailto:nodered@springcitysolutions.com">
            Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
          </a></li> 
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://www.patreon.com/springcitysolutions_nodered">
            Patreon page for this project (Thank You for your support!)
          </a></li>
        </ul>

      <h4>Software Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-shield-adda-11010/index.html">
            Doxygen docs for this node autogenerated by Gitlab CI/CD
          </a></li>
          <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-shield-adda-11010">
            npmjs page for this node
          </a></li>
          <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-shield-adda-11010">
            Node-RED flows for this node
          </a></li>
        </ul>

      <h4>Documentation Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010/-/wikis/home">
            Gitlab wiki for this node (the master copy of list of links is here)
          </a></li>
          <li><a href="https://github.com/waveshare/High-Precision-AD-DA-Board">
            Waveshare's libraries for this hardware
          </a></li>
          <li>
            TODO Youtube video "How to Set Up"
          </li>
          <li>
            TODO Youtube video "How to Use"
          </li>
          <li>
            TODO Youtube video "Testing Results"
          </li>        
        </ul>

      <h4>Trademarks</h4>
        <ul>
          <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>
          <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
          <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
          <li>Python is a registered trademark of the Python Software Foundation</li>      
          <li>"All trademarks are property of their respective owners"</li>
        </ul>

      <h4>Copyrights and Licenses</h4>
        <ul>
          <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
          contributors and licensed under the Apache License, Version 2.0</li>
          <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
          is licensed by CC BY 3.0</li>
        </ul>     
</script>

<script type="text/html" data-help-name="analogoutput">
    <p>Change DAC output voltage based on incoming messages</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">numerical | string</span>
        </dt>
        <dd>Set DAC output voltage</dd>
      </dl>

    <h3>Details</h3>
      <p>The Port property selects the input port as labeled on the circuit board.</p>
      <p>Several payload options:</p>
      <p>Numerical or String both work.</p>
      <p>The Scale property selects the input format.</p>
      <p>The default is voltage scale, 0 to 5 or 0 to 3.3 volts depending on VRef.</p>
      <p>The millivolt scale accepts from 0.0 to 5000 or 0 to 3300 millivolts, depending on VRef.</p>
      <p>The fraction scale accepts a number from 0 to 1 where 0 represents zero volts and 1 represents VRef.</p>
      <p>The percentage scale accepts a percentage from 0 to 100 where 0 represents zero volts and 1 represents VRef.</p>
      <p>The raw counts scale accepts a 16 bit unsigned integer in decimal format such that 0 represents zero volts and 65535 represents VRef.</p>
      <p>Out of range low payload will be rounded up to zero volts output.</p>
      <p>Out of range high payload will be rounded down to VRef output.</p>
      <p>VRef drop down option can be set to match jumpers such that maximum output voltage VRef is reached at payload input of 3.3, or 5.0 volts.</p>
      <p>There is no way for the software to know if you configure the scaling for 5.0 volts and set the jumpers on the hardware to 3.3 volts or the opposite scenario, so avoid doing that.</p>

      <h3>References</h3>
      <h4>Hardware Links</h4>
        <ul>
          <li><a href="https://www.waveshare.com/High-Precision-AD-DA-Board.htm">
            Board Manufacturer Store
          </a></li>
          <li><a href="https://www.waveshare.com/wiki/High-Precision_AD/DA_Board">
            Board Manufacturer Wiki
          </a></li>
          <li><a href="https://www.ti.com/product/ADS1256">
            ADS1256 ADC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/ads1256">
            ADS1256 Datasheet
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyy192">
            Free Ebook "Fundamentals of Precision ADC Noise Analysis"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt423">
            Journal Series "How Delta Sigma ADCs Work Pt 1"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt438">
            Journal Series "How Delta Sigma ADCs Work Pt 2"
          </a></li>       
          <li><a href="https://www.ti.com/lit/pdf/sbaa230">
            App Note "Digital Filter Types in Delta Sigma ADCs"
          </a></li>
          <li><a href="https://www.ti.com/product/LM285-2.5-N">
            LM285 Voltage Reference Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/lm285-2.5-n">
            LM285 Voltage Reference Datasheet
          </a></li>
          <li><a href="https://www.ti.com/product/DAC8532">
            DAC8532 DAC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/dac8532">
            DAC8532 DAC Datasheet
          </a></li>
        </ul>

      <h4>Spring City Solutions Links</h4>
        <ul>    
          <li><a href="https://www.springcitysolutions.com/nodered">
            Spring City Solutions Node-RED project page
          </a></li>
          <li><a href="https://www.springcitysolutions.com/nodered-waveshare-adda-shield">
            Spring City Solutions page for this node
          </a></li>
          <li><a href="mailto:nodered@springcitysolutions.com">
            Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
          </a></li> 
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://www.patreon.com/springcitysolutions_nodered">
            Patreon page for this project (Thank You for your support!)
          </a></li>
        </ul>

      <h4>Software Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-shield-adda-11010/index.html">
            Doxygen docs for this node autogenerated by Gitlab CI/CD
          </a></li>
          <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-shield-adda-11010">
            npmjs page for this node
          </a></li>
          <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-shield-adda-11010">
            Node-RED flows for this node
          </a></li>
        </ul>

      <h4>Documentation Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010/-/wikis/home">
            Gitlab wiki for this node (the master copy of list of links is here)
          </a></li>
          <li><a href="https://github.com/waveshare/High-Precision-AD-DA-Board">
            Waveshare's libraries for this hardware
          </a></li>
          <li>
            TODO Youtube video "How to Set Up"
          </li>
          <li>
            TODO Youtube video "How to Use"
          </li>
          <li>
            TODO Youtube video "Testing Results"
          </li>        
        </ul>

      <h4>Trademarks</h4>
        <ul>
          <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>
          <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
          <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
          <li>Python is a registered trademark of the Python Software Foundation</li>      
          <li>"All trademarks are property of their respective owners"</li>
        </ul>

      <h4>Copyrights and Licenses</h4>
        <ul>
          <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
          contributors and licensed under the Apache License, Version 2.0</li>
          <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
          is licensed by CC BY 3.0</li>
        </ul>     
</script>

<script type="text/html" data-help-name="gpioinput">
    <p>Report the binary level after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a binary read</dd>
      </dl>

    <h3>Outputs</h3>
      <dl class="message-properties">
        <dt>payload <span class="property-type">number</span></dt>
          <dd>The result of the binary read, a numeric 1 or 0.</dd>
      </dl>

    <h3>Details</h3>
      <p>The Port property selects the input port as labeled on the circuit board.</p>
      <p>The pin will switch to input mode</p>
      <p>The output is a numeric value 1 or 0</p>

      <h3>References</h3>
      <h4>Hardware Links</h4>
        <ul>
          <li><a href="https://www.waveshare.com/High-Precision-AD-DA-Board.htm">
            Board Manufacturer Store
          </a></li>
          <li><a href="https://www.waveshare.com/wiki/High-Precision_AD/DA_Board">
            Board Manufacturer Wiki
          </a></li>
          <li><a href="https://www.ti.com/product/ADS1256">
            ADS1256 ADC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/ads1256">
            ADS1256 Datasheet
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyy192">
            Free Ebook "Fundamentals of Precision ADC Noise Analysis"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt423">
            Journal Series "How Delta Sigma ADCs Work Pt 1"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt438">
            Journal Series "How Delta Sigma ADCs Work Pt 2"
          </a></li>       
          <li><a href="https://www.ti.com/lit/pdf/sbaa230">
            App Note "Digital Filter Types in Delta Sigma ADCs"
          </a></li>
          <li><a href="https://www.ti.com/product/LM285-2.5-N">
            LM285 Voltage Reference Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/lm285-2.5-n">
            LM285 Voltage Reference Datasheet
          </a></li>
          <li><a href="https://www.ti.com/product/DAC8532">
            DAC8532 DAC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/dac8532">
            DAC8532 DAC Datasheet
          </a></li>
        </ul>

      <h4>Spring City Solutions Links</h4>
        <ul>    
          <li><a href="https://www.springcitysolutions.com/nodered">
            Spring City Solutions Node-RED project page
          </a></li>
          <li><a href="https://www.springcitysolutions.com/nodered-waveshare-adda-shield">
            Spring City Solutions page for this node
          </a></li>
          <li><a href="mailto:nodered@springcitysolutions.com">
            Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
          </a></li> 
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://www.patreon.com/springcitysolutions_nodered">
            Patreon page for this project (Thank You for your support!)
          </a></li>
        </ul>

      <h4>Software Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-shield-adda-11010/index.html">
            Doxygen docs for this node autogenerated by Gitlab CI/CD
          </a></li>
          <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-shield-adda-11010">
            npmjs page for this node
          </a></li>
          <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-shield-adda-11010">
            Node-RED flows for this node
          </a></li>
        </ul>

      <h4>Documentation Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010/-/wikis/home">
            Gitlab wiki for this node (the master copy of list of links is here)
          </a></li>
          <li><a href="https://github.com/waveshare/High-Precision-AD-DA-Board">
            Waveshare's libraries for this hardware
          </a></li>
          <li>
            TODO Youtube video "How to Set Up"
          </li>
          <li>
            TODO Youtube video "How to Use"
          </li>
          <li>
            TODO Youtube video "Testing Results"
          </li>        
        </ul>

      <h4>Trademarks</h4>
        <ul>
          <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>
          <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
          <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
          <li>Python is a registered trademark of the Python Software Foundation</li>      
          <li>"All trademarks are property of their respective owners"</li>
        </ul>

      <h4>Copyrights and Licenses</h4>
        <ul>
          <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
          contributors and licensed under the Apache License, Version 2.0</li>
          <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
          is licensed by CC BY 3.0</li>
        </ul>     
</script>

<script type="text/html" data-help-name="gpiooutput">
    <p>Output a binary 1 or 0 based on incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">numerical</span>
        </dt>
        <dd>Binary 1 or 0 result in Vcc or GND sent to pin</dd>
      </dl>

    <h3>Details</h3>
      <p>The Port property selects the output port as labeled on the circuit board.</p>
      <p>The pin will switch to output mode</p>
      <p>Pin voltage will be Vcc or Gnd based on numeric input value 1 or 0</p>

      <h3>References</h3>
      <h4>Hardware Links</h4>
        <ul>
          <li><a href="https://www.waveshare.com/High-Precision-AD-DA-Board.htm">
            Board Manufacturer Store
          </a></li>
          <li><a href="https://www.waveshare.com/wiki/High-Precision_AD/DA_Board">
            Board Manufacturer Wiki
          </a></li>
          <li><a href="https://www.ti.com/product/ADS1256">
            ADS1256 ADC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/ads1256">
            ADS1256 Datasheet
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyy192">
            Free Ebook "Fundamentals of Precision ADC Noise Analysis"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt423">
            Journal Series "How Delta Sigma ADCs Work Pt 1"
          </a></li>
          <li><a href="https://www.ti.com/lit/pdf/slyt438">
            Journal Series "How Delta Sigma ADCs Work Pt 2"
          </a></li>       
          <li><a href="https://www.ti.com/lit/pdf/sbaa230">
            App Note "Digital Filter Types in Delta Sigma ADCs"
          </a></li>
          <li><a href="https://www.ti.com/product/LM285-2.5-N">
            LM285 Voltage Reference Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/lm285-2.5-n">
            LM285 Voltage Reference Datasheet
          </a></li>
          <li><a href="https://www.ti.com/product/DAC8532">
            DAC8532 DAC Chip Manufacturer Product Page
          </a></li>
          <li><a href="https://www.ti.com/lit/gpn/dac8532">
            DAC8532 DAC Datasheet
          </a></li>
        </ul>

      <h4>Spring City Solutions Links</h4>
        <ul>    
          <li><a href="https://www.springcitysolutions.com/nodered">
            Spring City Solutions Node-RED project page
          </a></li>
          <li><a href="https://www.springcitysolutions.com/nodered-waveshare-adda-shield">
            Spring City Solutions page for this node
          </a></li>
          <li><a href="mailto:nodered@springcitysolutions.com">
            Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
          </a></li> 
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://www.patreon.com/springcitysolutions_nodered">
            Patreon page for this project (Thank You for your support!)
          </a></li>
        </ul>

      <h4>Software Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010">
            Spring City Solutions Gitlab for this node
          </a></li>
          <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-shield-adda-11010/index.html">
            Doxygen docs for this node autogenerated by Gitlab CI/CD
          </a></li>
          <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-shield-adda-11010">
            npmjs page for this node
          </a></li>
          <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-shield-adda-11010">
            Node-RED flows for this node
          </a></li>
        </ul>

      <h4>Documentation Links</h4>
        <ul>  
          <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-shield-adda-11010/-/wikis/home">
            Gitlab wiki for this node (the master copy of list of links is here)
          </a></li>
          <li><a href="https://github.com/waveshare/High-Precision-AD-DA-Board">
            Waveshare's libraries for this hardware
          </a></li>
          <li>
            TODO Youtube video "How to Set Up"
          </li>
          <li>
            TODO Youtube video "How to Use"
          </li>
          <li>
            TODO Youtube video "Testing Results"
          </li>        
        </ul>

      <h4>Trademarks</h4>
        <ul>
          <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>
          <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
          <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
          <li>Python is a registered trademark of the Python Software Foundation</li>      
          <li>"All trademarks are property of their respective owners"</li>
        </ul>

      <h4>Copyrights and Licenses</h4>
        <ul>
          <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
          contributors and licensed under the Apache License, Version 2.0</li>
          <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
          is licensed by CC BY 3.0</li>
        </ul>     
</script>
